*{
    margin: 0;
    padding: 0;
}
 
.nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px black;
}

.nav-list{
    list-style: none;
    display: flex;

}

.nav-list > li {
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
    font-weight: 100;
}

.Body-ele{
 margin-left: 20px;
}

.foot{
    align-items: baseline;
    background-color: rgb(84, 85, 87);
    color:white;
}
