*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

.logo{
    display: flex;
    justify-content: left;
    
    height: 100px;

}

.main-content{
    display: flex;
    
}

#bullet{
    align-items: left;
}

#heading{
    margin-top: 32px;
    font-size: 30px;
}

.list{
    margin-left: 40px;
    align-items: left;
    font-size: 20px;
}


.foot{
    display: flex;
    align-items:baseline;
    justify-content: center;
    font-size:10px;
    color:rgb(29, 11, 86);
}

#but1{
    margin-top: 32px;
    font-size: 10px;
    height: 20px;
    width: 50px;
}

.but{
    display: flex;
    align-items: left;
    justify-content: flex-end;
    margin-top: 32px;
}

.nav-bar{
    align-items:center;
    height: 105px;
    background-color: rgb(79, 77, 77);
}